<%console.log("show.ejs is running...");%>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
</head>
<body>
	<h1>Character Details Page</h1>

	<a href="./">Return to Character Index</a>

	<h2><%=character.name%></h2>
	<h3>Race: <%=character.race%></h3>
	<h3>Class: <%=character.class%></h3>

	<a href="/characters/<%=index%>/edit">Edit <%=character.name%>'s details</a>

	<form method="POST" action="/characters/<%=index%>?_method=DELETE">
		<button>Delete <%=character.index%></button>
	<br/>
	</form>
</body>
</html>


